[Unit]
Description=Shadowsocks Service
After=network.target

[Service]
ExecStart=/usr/local/bin/ss-server -c /usr/local/etc/shadowsocks/config.json
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target